- #coding: utf-8
!!! 5
%html
%head
  %title YuruReme
  %meta{:charset => "UTF-8"}
  = stylesheet_link_tag 'style'
  = javascript_include_tag "jquery"
  = javascript_include_tag "underscore"
  = javascript_include_tag "jsrender"
  = javascript_include_tag "application"
  %meta{:name => "viewport", :content => "width=1024"}
%body
  .content
    .title
      = image_tag("title.png", :alt => "ゆるリマ", :width => "179", :height => "49", :style => "border: none;")
      %p ゆるリマ（ゆるいリマインダー）は、忘れているタスクをゆるく思い出すサービスです。
    .main
      = yield
    .copyright
      %p
        Created by
        %a{:href => "http://twitter.com/joker1007", :target => "_blank"}
          @joker1007

        %a{:href => "http://twitter.com/overislandjp", :target => "_blank"}
          @overislandjp
        \.
